h1{
    font-style: italic;
    border-bottom : solid 5px #e448a6;

}

h4{
    text-decoration: underline  green;
    
}

p{
    text-decoration: underline red;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.wrapper .content:nth-child(2){
    margin-left: 40px; 
}